@charset "UTF-8";

.form-control{
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
    
}
.alldiv {
    width: 35%;
    margin: auto;
    margin-top: 30px;
}

.text{
    width: 100%;
    height: 75px;
    margin-bottom: 20px;
    
}
span.input-group-text {
    display: inline-block;
    margin-bottom: 8px;
}
.textarea{
	 resize: none;
	 height: 70px;	 
}
.header{
	text-align:center;
}
button#ReviewListget {
    float: right;
}

.reviewdiv { width: 80%; margin: auto; margin-top: 30px; }

* { border-box: border-box; }

div.noticediv {
    width: 85%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 85px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    padding: 30px 0;
}

h2.header {
	margin-top: 50px;
}

input.form-control, textarea.text{
	border: 1px solid #26588d;
	border-radius: 3px;
	padding:6px 8px;
}

div#footer {
	margin: 15px 0;
}
div#footer>button {
	background-color: #26588d;
	color: #e0ffff;
	border: 1px solid #26588d;
	border-radius: 3px;
	cursor: pointer;
	padding: 7px 13px;
}


div.container-fluid {
	margin: 0 auto;
   	width: 50%;
}
@media screen and (max-width: 979px) {
	div.container-fluid {
		margin: 0 auto;	
    	width: 65%;
	}
}
@media screen and (max-width: 659px) {
	div.container-fluid {
		margin: 0 auto;	
    	width: 75%;
	}
}
@media screen and (max-width: 415px) {
	div.container-fluid {
		margin: 0 auto;	
    	width: 85%;
	}
}

input.form-control, textarea.form-control{
	border: 1px solid #26588d;
	border-radius: 3px;
	padding:6px 8px;
}
.modibtn{background-color: #26588d;
	color: #e0ffff;
	border: 1px solid #26588d;
	border-radius: 3px;
	cursor: pointer;
	padding: 7px 13px;}
    
.backlistbtn{background-color: #26588d;
	color: #e0ffff;
	border: 1px solid #26588d;
	border-radius: 3px;
	cursor: pointer;
	padding: 7px 13px;
float: right;}

.modibtn:hover{
	cursor: pointer;
	font-weight: bold;
}

.backlistbtn:hover{
	cursor: pointer;
	font-weight: bold;
}