@charset "UTF-8";

body {
	margin: 0;
}

#logo {
	width: 100px;
	height: auto;
	margin: 10px;
}

li a {
	text-decoration: none;
	font-size: 13px;
	color: aliceblue;
	padding: 0 30px;
}

a#navbardrop {
	font-size: 18px;
}

.navbarAdminMENU {
	display: flex;
	align-items: start;
	background-color: #7695B7;
	padding: 8px 12px;
	justify-content: center;
	height: 120px;
}

.navbar-menuAdminMENU {
	display: flex;
	list-style: none;
	padding-left: 0;
	width: 100%;
	justify-content: center;
}

.navbar-toggleBtnAdminMENU {
	display: none;
	position: absolute;
	right: 32px;
	font-size: 40px;
	text-decoration: none;
	color: white;
}

.dropdownAdminMENU:hover {
	background-color: #193a5c;
}

.dropdownAdminMENU {
	text-align: center;
	position: relative;
	display: inline-block;
}

.dropdown-contentAdminMENU {
	display: none;
	position: absolute;
	z-index: 1; /*다른 요소들보다 앞에 배치*/
}

.dropdownAdminMENU:hover .dropdown-contentAdminMENU {
	display: block;
}

#spena {
	display: block;
	padding: 3px 45px;
}

#spena2 {
	display: block;
	padding: 3px 30px;
}

#spena1 {
	display: block;
	padding: 3px 40px;
}

button a {
	display: flex;
	text-decoration: none;
	color: aliceblue;
	font-size: 15px;
}

button#navbtn {
	width: 100px;
	border: none;
	background: none;
	margin-top: 10px;
}

@media screen and (max-width: 415px) {
	.navbarAdminMENU {
		flex-direction: column;
		padding: 8px 12px;
		justify-content: flex-start;
	}
	.navbar-menuAdminMENU {
		display: none;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.navbar-menuAdminMENU li {
		width: 100%;
		text-align: center;
	}
	.dropdown-contentAdminMENU {
		display: none;
		position: relative;
	}
	button#navbtn {
		top: 100px;
		right: 2px;
		position: absolute;
		width: 100px;
		border: none;
		background: none;
		margin-top: 10px;
	}
	.navbar-toggleBtnAdminMENU {
		display: block;
	}
	.navbar-menuAdminMENU.active {
		display: flex;
	}
	.navbarAdminMENU.active {
		height: 330px;
	}
}